<itp-menu></itp-menu>

<div class="itp-portfolio">

  <h2>Portfolio</h2>

  <div class="itp-portfolio-wrapper">

    <div class='itp-portfolio-wrapper-row grid'>

      <figure *ngFor="let example of examples; let i = index;" class="itp-portfolio-item effect-milo">
        <img [src]="example.imagePath" alt="portfolio-example-{{i+1}}">

        <figcaption>
          <h2>{{ example.title }} <span>{{ example.subtitle }}</span></h2>
          <p>{{ example.description }}</p>
        </figcaption>
      </figure>

    </div>

  </div>

</div>

<itp-footer></itp-footer>
