<div class="itp-portfolio-menu-wrapper">

  <div class="menu-wrapper">
    <img src="./../../../assets/images/logo.svg" class="itp-logo" alt="logo">

    <ul class="itp-list">
      <li class="itp-list-item"
          (click)="backToHome()">
        Home
      </li>
    </ul>
  </div>

  <nav role="navigation" class="navigation">
    <div class="menu-toggle">

      <img src="./../../../assets/images/logo.svg" class="itp-logo-mobile" alt="logo">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul class="menu">
        <a (click)="backToHome()">

          <li>Home</li>

        </a>
      </ul>
    </div>
  </nav>

</div>

<div class="itp-portfolio">

  <div class="itp-portfolio-wrapper">
    <h2>Portfolio</h2>

    <div class="itp-portfolio-item">
      <img src="../../../assets/images/portfolio_1.png" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Branding</h3>
        <h4>AVA MOUNTAIN</h4>
      </div>
    </div>

    <div class="itp-portfolio-item">
      <img src="../../../assets/images/portfolio_2.png" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Landing</h3>
        <h4>AQUA LAB</h4>
      </div>
    </div>

    <div class="itp-portfolio-item">
      <img src="../../../assets/images/portfolio_3.png" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Branding</h3>
        <h4>CROWN</h4>
      </div>
    </div>

    <div class="itp-portfolio-item">
      <img src="../../../assets/images/portfolio_4.png" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Landing</h3>
        <h4>WHISKEY ROOM</h4>
      </div>
    </div>

    <div class="itp-portfolio-item clickable" (click)="openPortfolioExample('https://landing-178ab.firebaseapp.com/')">
      <img src="../../../assets/images/building_landing.png" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Landing</h3>
        <h4>REAL ESTATE</h4>
      </div>
    </div>

    <div class="itp-portfolio-item clickable" (click)="openPortfolioExample('https://jsexpert-moviedb.firebaseapp.com/')">
      <img src="../../../assets/images/films.png" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Single Page Application</h3>
        <h4>MOVIES</h4>
      </div>
    </div>

    <div class="itp-portfolio-item clickable" (click)="openPortfolioExample('https://covid19-9f98a.web.app/')">
      <img src="../../../assets/images/covid19-tracker.png" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Landing</h3>
        <h4>COVID19 TRACKER</h4>
      </div>
    </div>

    <div class="itp-portfolio-item clickable" (click)="openPortfolioExample('https://recipe-book-task.firebaseapp.com/')">
      <img src="../../../assets/images/recipe-book.png" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Landing</h3>
        <h4>RECIPE BOOK</h4>
      </div>
    </div>

    <div class="itp-portfolio-item">
      <img src="../../../assets/images/startupfinder.png" alt="portfolio">
      <img src="../../../assets/images/startupfinder2.png" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Landing</h3>
        <h4>STARTUP FINDER</h4>
      </div>
    </div>

    <div class="itp-portfolio-item">
      <img src="../../../assets/images/scores-pro.png" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Single Page Application</h3>
        <h4>SCORES PRO</h4>
      </div>
    </div>

    <div class="itp-portfolio-item">
      <img src="../../../assets/images/frame8.jpg" alt="portfolio">
      <div class="itp-portfolio-item-title">
        <h3>Landing</h3>
        <h4>OURO WATCHES</h4>
      </div>
    </div>

  </div>

</div>


<itp-footer></itp-footer>
