<div class="itp-menu-wrapper">

  <!-- TODO move to new 'menu' component from here -->
  <div class="menu-wrapper">
    <img src="./../../../assets/images/logo.svg" class="itp-logo" alt="logo">

    <ul class="itp-list">
      <li class="itp-list-item"
          (click)="backToHome()">
        Home
      </li>
    </ul>
  </div>

  <nav role="navigation" class="navigation">
    <div class="menu-toggle">

      <img src="./../../../assets/images/logo.svg" class="itp-logo-mobile" alt="logo">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul class="menu">
        <a (click)="backToHome()">

          <li>Home</li>

        </a>
      </ul>
    </div>
  </nav>

</div>
<!-- TODO move to new 'menu' component    - to here -->

<div class="itp-portfolio">

  <h2>Portfolio</h2>

  <div class="itp-portfolio-wrapper">

    <div class='itp-portfolio-wrapper-row grid'>

      <figure *ngFor="let example of examples; let i = index;" class="itp-portfolio-item effect-milo">
        <img [src]="example.imagePath" alt="portfolio-example-{{i+1}}">

        <figcaption>
          <h2>{{ example.title }} <span>{{ example.subtitle }}</span></h2>
          <p>{{ example.description }}</p>
        </figcaption>
      </figure>

    </div>

  </div>

</div>


<itp-footer></itp-footer>
