<div class="itp-footer-wrapper">

  <div class="itp-footer-left">
    <div class="contact">
      <h3>Contacts</h3>
      <p>+380991234567</p>
      <p>+380912345678</p>
      <p>itpossible@gmail.com</p>
    </div>

    <div class="sitemap">
      <h3>Site Map</h3>
      <ul>
        <li>About</li>
        <li>Blog</li>
        <li>Contacts</li>
      </ul>
    </div>
  </div>

  <div class="itp-footer-right">
    <div class="maps">
    <iframe width="400" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"
    src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Rynok%20square%20Lviv+(ITPossible%20WebStudio)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
    <script type='text/javascript' src='https://maps-generator.com/google-maps-authorization/script.js?id=f467e9446ec66da9f3ce1908f2257a8b307f2ea0'></script>
    </div>
  </div>
</div>
