<div class="itp-slide" id="reviews">
  <div class="itp-slide-wrapper">
    <div class="itp-slide-content">
      <div class="itp-show-slide fade" *ngFor="let slide of slides;">
        <img [src]="slide.imagePath" alt="slide">
        <p>{{ slide.text }}</p>
      </div>
      <div class="itp-carousel-index">
        <ul>
          <li *ngFor="let control of slides; let i = index;"
              class="dot"
              [class.itp-carousel-item]="startIndex - 1 === i"
              (click)="move(i)"> <!-- todo make slide control clickable -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
