:host {
  flex: 1;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* style the arrows */
.wdc-slider-controls {
  position: absolute;
  width: 50px;
  height: 100px;
  display: flex;
  right: 0;
  top: calc(50% - 50px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;

  span {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 5px;

    &:hover {
      background-color: #fff;
      cursor: pointer;
    }

    &.active {
      background-color: #fff;
    }
  }
}
