<div class="wdc-wrapper" id="home">
  <img src="./../../../assets/images/logo.svg" class="wdc-logo" alt="logo">

  <ul class="wdc-list">
    <li class="wdc-list-item"
        *ngFor="let menu of menuList; let i = index;"
        [class.active]="activeMenuItem === i"
        (click)="scrollToSection(menu, i)">
        {{ menu }}
      </li>
  </ul>
</div>

<nav role="navigation" class="navigation">
  <div class="menu-toggle">

    <img src="./../../../assets/images/logo.svg" class="wdc-logo-mobile" alt="logo">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul class="menu">
      <a *ngFor="let menu of menuList; let i = index;"
         [class.active]="activeMenuItem === i"
         (click)="scrollToSection(menu, i)">

        <li>{{ menu }}</li>

      </a>
    </ul>
  </div>
</nav>
