@import './../../../assets/styles/variables';

.itp-notification {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate3d(calc((-100% - 12px) - 10px), 0px, 0px);
  visibility: visible;
  background-color: $success;
  color: $white;
  border-radius: 3px;
  box-shadow: $box-shadow;
  padding: 12px 24px;
  animation: fadeIn 0.6s ease-in;

  &.success {
    background-color: $success;
  }

  &.danger {
    background-color: $red;
  }

  &.info {
    background-color: $info;
  }

  p {
    margin: 0 auto;
  }

  .itp-close {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}
