.wdc-notification {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate3d(calc((-100% - 12px) - 10px), 0px, 0px);
  visibility: visible;
  background-color: #5CB85C;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  padding: 12px 24px;
  animation: fadeIn 0.6s ease-in;

  p {
    margin: 0 auto;
  }
}


@keyframes fadeIn {
  from {
    opacity:0
  }

  to {
    opacity:1
  }
}
