<div class="link-to-blog pulsingButton">
  <a
    href="https://angular-blog-ua.firebaseapp.com/">Blog
  </a>
</div>

<wdc-header></wdc-header>
<wdc-header-slider></wdc-header-slider>
<wdc-what-we-do></wdc-what-we-do>
<wdc-our-services></wdc-our-services>
<wdc-strategy></wdc-strategy>
<div class="parallax"></div>
<wdc-recent-works></wdc-recent-works>
<!--<wdc-our-values></wdc-our-values>-->
<!--<wdc-clients-reviews></wdc-clients-reviews>--> <!-- todo commented until find normal image slider -->
<wdc-get-in-touch></wdc-get-in-touch>

<router-outlet></router-outlet>
