<div class="link-to-blog pulsingButton">
  <a
    href="https://angular-blog-ua.firebaseapp.com/">Blog
  </a>
</div>

<itp-header></itp-header>
<itp-header-slider></itp-header-slider>
<itp-what-we-do></itp-what-we-do>
<itp-our-services></itp-our-services>
<itp-strategy></itp-strategy>
<div class="parallax"></div>
<itp-recent-works></itp-recent-works>
<!--<itp-our-values></itp-our-values>-->
<!--<itp-clients-reviews></itp-clients-reviews>--> <!-- todo commented until find normal image slider -->
<itp-get-in-touch></itp-get-in-touch>
<itp-footer></itp-footer>

<router-outlet></router-outlet>
