<div class="wdc-do-wrapper" id="about">

  <div class="wdc-left">
    <img src="./../../../assets/images/about.jpg" alt="about">
  </div>

  <div class="wdc-right">
    <h2>What We Do?</h2>
    <p>
      We are an experienced Angular focused team, with expertise in full-cycle frontend development. We will not just
      make our work, but make it properly for a long time. Our company are focused on start-ups and prospective business.
      And we provide a different type of services, from regular Landing Pages (including design, branding and SEO)
      to complex long-term projects using edge technologies. We can give you better price range, because we already
      have frameworks to speed up our development. Angular is a project of Google and Microsoft,
      so don't worry about future maintenance.

      We are always focused on what your business needs, that's why you will be satisfied with the result
    </p>
    <a href=""> <!-- todo create route for 'more info' about our company -->
      About Us
      <img src="./../../../assets/images/arrow-red.svg" alt="arrow-red">
    </a>
  </div>

</div>
