@import './../../../assets/styles/variables';

.wdc-do-wrapper {
  display: flex;

  .wdc-left {
    flex: 0 0 45%;
    padding-right: 20px;

    img {
      width: 720px;
      height: 560px;
      margin: 20px auto 0;
    }
  }

  .wdc-right {
    flex: 0 0 40%;

    h2 {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: $dark;
      margin: 20px 0;
    }

    h3 {
      font-weight: 100;
      font-size: 30px;
      line-height: 30px;
      color: $dark;
      margin: 20px 0;
    }

    p {
      flex-wrap: wrap;
      word-wrap: break-word;
      white-space: initial;
      line-height: 30px;
      font-size: 15px;
      margin-bottom: 30px;
      margin-top: 18px;
    }
  }
}
