@import './../../../assets/styles/variables';

.wdc-do-wrapper {
  display: flex;
  padding: 20px;

  .wdc-left {
    flex: 0 0 40%;
    padding-right: 20px;

    img {
      width: 100%;
      height: auto;
      margin: 20px auto 0;
    }
  }

  .wdc-right {
    flex: 0 0 50%;

    h2 {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: $dark;
      margin: 20px 0;
    }

    p {
      flex-wrap: wrap;
      word-wrap: break-word;
      white-space: initial;
      line-height: 30px;
      font-size: 15px;
      margin-bottom: 30px;
      margin-top: 18px;
    }

    a {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: $red;
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;

      img {
        margin-left: 20px;
        width: 20px;
        height: auto;
      }
    }
  }
}

@media (max-width: 1024px) {
  .wdc-do-wrapper {
    flex-direction: column;

    .wdc-left, .wdc-right {
      flex: none;
      padding: 20px;
      width: calc(100% - 40px);
    }

    .wdc-left {
      text-align: center;

      img {
        width: calc(100% - 40px);
        height: auto;
        margin-top: 0;
        object-fit: cover;
      }
    }

    .wdc-right {
      text-align: center;

      h2 {
        margin-top: 0;
      }
    }
  }
}
