.wdc-do-wrapper {
  display: flex;


  .wdc-left, .wdc-right {
    flex: 0 0 50%;
  }

  .wdc-left {
    img {
      width: 720px;
      height: 560px;
      margin: 20px auto 0;
    }
  }

  .wdc-right {

    h2 {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: #333333;
      margin: 20px 0;
    }

    h3 {
      font-weight: 100;
      font-size: 30px;
      line-height: 30px;
      color: #333333;
      margin: 20px 0;
    }

    p {
      flex-wrap: wrap;
      word-wrap: break-word;
      white-space: initial;
      line-height: 30px;
      font-size: 15px;
      margin-bottom: 30px;
      margin-top: 18px;
    }
  }
}
