@import './../../../assets/styles/variables';

.itp-about {

  width: auto;
  padding: 150px 30px;
  background-image: url("./../../../assets/images/about-us-concat.png");

  .itp-about-wrapper {
    max-width: 1024px;

    h2, h3 {
      text-align: left;
    }

    h2 {
      font-size: 40px;
      font-weight: bold;
      color: $red;
    }

    h3 {
      font-weight: 300;
      font-size: 26px;
      margin-top: 10px;
      color: $white;

      &.part {
        font-size: 30px;
        color: $red;
        margin-bottom: 10px;
      }
    }

    h4.name {
      font-size: 24px;
    }

    .itc-units {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .itc-frontend, .itc-design {
        flex: 0 0 50%;
        margin-top: 50px;

        p {
          font-size: 20px;
          line-height: 24px;
          color: $white;
        }

        a {
          position: relative;
          display: inline-block;
          font-size: 20px;
          color: $red;
          font-weight: 800;
          text-decoration: underline;
          overflow: hidden;
          margin: 50px auto 20px 50px;
          cursor: pointer;

          &:hover {

            span {
              transform: translateX(0);

              &::before {
                transform: translateX(0);
              }
            }
          }

          span {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            transform: translateX(-100%);
            transition: transform 275ms ease;

            &::before {
              display: inline-block;
              content: attr(data-content);
              color: darken($red, 20%);
              transform: translateX(100%);
              transition: transform 275ms ease;
              text-decoration: underline;
            }
          }
        }

        ul {
          margin-left: 50px;

          li {
            font-size: 18px;
            line-height: 24px;
            color: $white;
            margin-bottom: 10px;
          }
        }
      }

      .itc-design {

        h4.motto {
          margin-top: 20px;
        }
      }
    }
  }


}

/*
    menu
 */

.itp-menu-wrapper {
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 2;

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: $dark-background;

    .itp-logo {
      display: block;
      margin-left: 10px;
      width: 200px;
      height: auto;
      cursor: pointer;
      margin-top: 25px;
    }

    .itp-list {
      color: $white;
      list-style-type: none;
      display: flex;
      align-items: center;

      .itp-list-item {
        margin-right: 30px;
        cursor: pointer;
        transition: color 0.3s ease-in;

        &:hover {
          color: darken($white, 20%);
        }
      }
    }
  }

  .navigation {
    display: none;
  }
}


@media (max-width: 1024px) {

  .itp-menu-wrapper {

    .menu-wrapper {
      display: none;
    }

    .navigation {
      display: block;
      height: 50px;
      width: 100%;
      background-color: $dark;

      .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        height: 100%;
        top: 0;
        right: 10px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

        .itp-logo-mobile {
          position: absolute;
          top: -10px;
          left: 10px;
          width: 150px;
          height: auto;
        }

        input {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: 5px;
          right: -5px;
          cursor: pointer;
          opacity: 0;
          z-index: 2;
          -webkit-touch-callout: none;

          &:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: $white;
          }

          &:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }

          &:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
          }

          &:checked ~ ul {
            transform: none;
          }
        }

        span {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;
          background: $dark-gray;
          border-radius: 3px;
          z-index: 1;
          transform-origin: 4px 0;
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
          background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
          opacity 0.55s ease;

          &:first-child {
            transform-origin: 0 0;
          }

          &:nth-last-child(2) {
            transform-origin: 0 100%;
          }
        }

        .menu {
          position: absolute;
          top: 150px;
          right: 0;
          width: 300px;
          margin: -100px 0 0 -50px;
          padding: 50px;
          z-index: 1;
          background-color: rgba(255, 255, 255, 0.50);
          list-style-type: none;
          -webkit-font-smoothing: antialiased;
          transform-origin: 0 0;
          transform: translate(105%, 0);
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

          li {
            padding: 10px 0;
            font-size: 22px;
          }
        }

        a {
          text-decoration: none;
          color: $dark;
          transition: color 0.3s ease-in;

          &:hover {
            cursor: pointer;
            color: $red;
          }
        }
      }
    }
  }
}
