@import './../../../assets/styles/variables';

.wdc-touch {
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  position: relative;

  .wdc-details, .wdc-form {
    flex: 0 0 48%;
    padding-left: 20px;
    padding-right: 20px
  }

  .wdc-details {
    h2 {
      font-size: 40px;
      font-weight: bold;
      color: $red;
    }

    h3 {
      font-size: 30px;
      color: $dark;
      font-weight: 100;
    }

    h4 {
      font-size: 16px;
      line-height: 35px;
      color: $dark;
      font-weight: 100;
      margin-bottom: 20px;
    }

    span.detail {
      font-weight: bold;
      font-size: 20px;
      color: $dark;
    }

    .wdc-social {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .wdc-email, .wdc-skype {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
          width: 40px;
          height: auto;
          padding-right: 20px;
        }

        span {
          line-height: 35px;
          font-size: 16px;
        }
      }
    }
  }

  .wdc-form {
    padding-left: 0;
    padding-right: 0;

    form {
      .form-group {
        width: 100%;
        max-width: 500px;
        min-height: 100px;

        label {
          display: inline-block;
          max-width: 100%;
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          color: $dark;
        }

        input, textarea {
          border: 0;
          border-radius: 0;
          box-shadow: none;
          border-bottom: 1px solid $gray;
          display: block;
          width: calc(100% - 24px);
          height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 20px;
          color: $light-dark;
          outline: none;
        }

        textarea {
          height: 50px;
        }

        .alert-danger {
          font-size: 12px;
          line-height: 20px;
          color: $red;
          font-weight: 100;
        }
      }
    }

    button {
      margin-top: 20px;
      outline: none;

      &.disabled {
        pointer-events: none;
        opacity: 0.7;
      }
    }
  }

  .wdc-go-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    font-size: 14px;
    background-color: $red;
    right: 10px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 12px;
      height: 12px;
    }
  }

  .notification-wrapper {
    position: absolute;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .wdc-touch {
    flex-direction: column;
    text-align: center;
    padding: 20px 0;

    .wdc-details, .wdc-form {
      padding-left: 20px;
      padding-right: 0;
      width: calc(100% - 20px);
    }

    .wdc-form {

      .form-group {
        margin: 0 auto;
      }
    }

    .wdc-details {
      margin-bottom: 30px;

      .wdc-social {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}

@media (max-width: 768px) {
  .wdc-touch {
    .wdc-details, .wdc-form {
      padding-left: 0;

      form {
        padding-left: 10px;
      }

      .wdc-social {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
