<div class="itp-recent-wrapper" id="portfolio">
  <h2>Recent Works</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias eaque exercitationem illo porro quas quod,
    temporibus. Laboriosam, placeat, voluptatibus.</p>

  <div class="itp-buttons-wrapper">
    <button *ngFor="let button of buttons; let i = index"
            [ngClass]="{'active': activeButton === i}"
            class="button"
            (click)="makeActive(i)">{{ button }}</button>
  </div>

  <div class="works-wrapper">
    <div class="itp-example" *ngFor="let example of examples">
      <img [src]="example.imagePath" alt="example">
      <p>{{ example.title }}</p>
      <h5>{{ example.description}}</h5>
    </div>
  </div>

  <div class="more-wrapper">
    <a (click)="navigateToPortfolio()">
      See More Works
      <img src="./../../../assets/images/arrow-red.svg" alt="arrow-red">
    </a>
  </div>

</div>
