@import './../../../assets/styles/variables';

.wdc-recent-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $white-light;
  padding: 100px 0;

  h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  p {
    margin: 20px auto 50px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
  }

  .wdc-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .button {
      border-radius: 5px;
      box-shadow: $box-shadow-light;
      color: $white;
      cursor: pointer;
      background-color: $gray;
      border: 1px solid transparent;
      outline: none;
      padding: 10px 24px;
      margin-right: 10px;

      &.active {
        background-color: $red;
        box-shadow: $box-shadow-red;
      }
    }
  }

  .works-wrapper {
    display: flex;

    .wdc-example {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 28%;
      margin: 0 1%;
      position: relative;

      // todo add hover animation

      img {
        width: 300px;
        height: 300px;
      }

      p, h5 {
        position: absolute;
        color: $dark;
        top: 40%;
        margin: 0 auto;
        font-size: 24px;
        font-weight: bold;
      }

      h5 {
        top: 50%;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .wdc-recent-wrapper {
    padding: 20px 0;
    .works-wrapper {
      flex-direction: column;

      .wdc-example {
        margin-bottom: 20px;
      }
    }
  }
}
