<div class="itp-recent" id="portfolio">
  <div class="itp-recent-wrapper">
    <h2>Recent Works</h2>

    <p>Behind every software, there’s a person and a story.</p>

    <div class="itp-buttons-wrapper">
      <button *ngFor="let button of buttons; let i = index"
              [ngClass]="{'active': activeButton === i}"
              class="button"
              (click)="makeActive(i)">{{ button }}</button>
    </div>

    <div class="works-wrapper">

      <div class="flip-card"
           *ngFor="let example of examples" [ngClass]="example.type === '1' ? 'card-web' : 'card-design'">

        <div class="flip-card-inner" *ngIf="activeButton === +example.type || activeButton === 0">

          <div class="flip-card-front">
            <img [src]="example.imagePath" alt="example">
            <h2>{{ example.title }}</h2>
          </div>

          <div class="flip-card-back">
            <h5>{{ example.description}}</h5>
          </div>

        </div>
      </div>

    </div>

    <div class="more-wrapper">
      <a (click)="navigateToPortfolio()">
        See More Works
        <img src="./../../../assets/images/arrow-red.svg" alt="arrow-red">
      </a>
    </div>

  </div>
</div>
