@import './../../../assets/styles/variables';

.itp-recent {
  width: auto;
  padding: 150px 30px;
  //background-color: $white-light;
  background: url("./../../../assets/images/recent-works.jpg");

  .itp-recent-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;

    h2 {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }

    p {
      margin: 20px auto 50px;
      font-size: 13px;
      line-height: 21px;
      text-align: center;
    }

    .itp-buttons-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      .button {
        border-radius: 5px;
        box-shadow: $box-shadow-light;
        color: $white;
        cursor: pointer;
        background-color: $gray;
        border: 1px solid transparent;
        outline: none;
        padding: 10px 24px;
        margin-right: 10px;
        transition: background-color 0.3s ease-in;

        &:hover {
          background-color: darken($gray, 10%);
        }

        &.active {
          background-color: $red;
          box-shadow: $box-shadow-red;
        }
      }
    }

    .works-wrapper {
      display: flex;
      justify-content: space-between;

      .itp-example {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 28%;
        margin: 1% 1%;
        position: relative;
      }
    }

    .more-wrapper {
      a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $red;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 50px;
        position: relative;

        &::before {
          width: 0;
          position: absolute;
          right: 35px;
          content: '';
          height: 2px;
          display: block;
          background: $red;
          bottom: 0px;
          transition: 300ms;
        }

        &:hover::before {
          width: 145px;
          color: darken($red, 20%);
        }

        img {
          margin-left: 20px;
          width: 20px;
          height: auto;
        }
      }
    }
  }
}

/*
  flip
*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;

  img {
    width: 300px;
    height: 300px;
  }

  h2, h5 {
    position: absolute;
    color: $dark;
    top: 30%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
  }

  h2 {
    margin: 20px auto 50px;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
  }

  h5 {
    top: 50%;
    font-size: 16px;
  }
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  align-items: center;
}



@media (max-width: 1024px) {
  .itp-recent-wrapper {
    padding: 20px 0;
    .works-wrapper {
      flex-direction: column;

      .itp-example {
        width: 90%;
        margin: 20px auto;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
