/// colors
$dark: #333;
$light-dark: #555;

$red: #fa6262;
$pink: #fb346f;
$yellow-green: #bcce20;
$yellow-red: #ffbf36;

$gray:  #ccc;

$white: #fff;
$white-light: #ebebeb;

$success: #5CB85C;
$info: #36d2ff;

$dark-background: rgba(14,17,23,.9);
$gray-background: rgba(255, 255, 255, .5);
$light-background: rgba(0, 0, 0, 0.15);

$box-shadow: 0 1px 3px rgba(0,0,0,0.2);
$box-shadow-light: 0 5px 10px 1px rgba(255,255,255,0.2);
$box-shadow-red: 0 5px 10px 1px rgba(250,98,98,.22);

$border-dark: #303236;
