<div class="itp-strategy-wrapper" id="strategy">
  <div class="container">

    <div class="step-1">

      <div class="icons">
        <img src="../../../assets/images/step1.png" alt="step" class="image-step">
<!--        <div class="divider"></div>-->
      </div>

      <div class="counter">
        <span>Strategy</span>
      </div>

    </div>

    <div class="step-2">

      <div class="icons">
        <img src="../../../assets/images/step2.png" alt="step" class="image-step">
<!--        <div class="divider"></div>-->
      </div>

      <div class="counter">
        <span>Design</span>
      </div>

    </div>

    <div class="step-3">

      <div class="icons">
        <img src="../../../assets/images/step3.png" alt="step" class="image-step">
<!--        <div class="divider"></div>-->
      </div>

      <div class="counter">
        <span>Developing</span>
      </div>

    </div>

    <div class="step-4">

      <div class="icons">
        <img src="../../../assets/images/step4.png" alt="step" class="image-step">
      </div>

      <div class="counter">
        <span>Support</span>
      </div>

    </div>

    <div class="divider"></div>

  </div>
</div>
