@import './../../../assets/styles/variables';

.wdc-strategy-wrapper {
  background-image: url("./../../../assets/images/bg1.jpg");
  display: flex;
  width: 100%;
  height: auto;

  .container {
    width: 90%;
    margin: 0 auto;
    color: $white;
    padding: 100px 0;

    .step-1, .step-2, .step-3, .step-4 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 150px;

      .counter {
        flex: 0 0 33.333333%;

        b {
          display: inline-block;
          margin-right: 20px;
          color: $pink;
          font-weight: bold;
          font-size: 100px;
        }
        span {
          display: inline-block;
          font-weight: 100;
          font-size: 40px;
        }
      }

      .icons {
        display: flex;
        flex: 0 0 33.333333%;
        position: relative;
        cursor: pointer;

        img {
          height: 176px;
          width: 176px;
          border: 5px solid $border-dark;
          border-radius: 100%;
          margin: 0 auto;
          position: relative;
          transition: 0.3s ease-in;

          &.arrow {
            width: 34px;
            height: 136px;
            position: absolute;
            left: 280px;
            top: 150px;
            border: none;
          }
        }

        .divider {
          position: absolute;
          border-left: 4px dashed $pink;
          height: 70px;
          margin-top: 25px;
          left: 50%;
          top: 200px;
        }

        &:hover {
          img.image-step {
            border: 5px solid $white;
            transform: rotate(45deg);
          }
        }
      }

      .text {
        flex: 0 0 33.333333%;

        p {
          font-size: 17px;
          line-height: 30px;
          font-weight: 100;
        }
      }
    }

    .step-2, .step-4 {
      .counter {
        b {
          color: $yellow-green;
        }
      }

      .icons {
        img.arrow {
          left: 20px;
        }
      }
    }

    .step-2 {
      .icons {
        .divider {
          border-left: 4px dashed $yellow-green;
        }
      }
    }

    .step-3 {
      .counter {
        b {
          color: $yellow-red;
        }
      }

      .icons {
        .divider {
          border-left: 4px dashed $yellow-red;
        }
      }
    }

    .step-4 {
      .counter {
        b {
          color: $info;
        }
      }
    }

  }
}
