@import './../../../assets/styles/variables';

.itp-strategy-wrapper {
  background-image: url("./../../../assets/images/bg1.jpg");
  display: flex;
  width: 100%;
  height: auto;

  .container {
    width: 100%;
    text-align: center;
    color: $white;
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .step-1, .step-2, .step-3, .step-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 230px;

      .counter {
        flex: 0 0 33.333333%;

        span {
          display: inline-block;
          font-weight: 100;
          font-size: 40px;
        }
      }

      .icons {
        display: flex;
        flex: 0 0 33.333333%;
        position: relative;
        cursor: pointer;
        z-index: 1;
        margin-bottom: 20px;

        img {
          height: 176px;
          width: 176px;
          border: 5px solid $border-dark;
          border-radius: 100%;
          margin: 0 auto;
          position: relative;
          transition: 0.3s ease-in;
          z-index: 1;

          &.arrow {
            width: 34px;
            height: 136px;
            position: absolute;
            left: 280px;
            top: 150px;
            border: none;
          }
        }

        &:hover {
          img.image-step {
            border: 5px solid $white;
            transform: rotate(45deg);
          }
        }
      }

      .text {
        flex: 0 0 33.333333%;

        p {
          font-size: 17px;
          line-height: 30px;
          font-weight: 100;
        }
      }
    }

    .divider {
      position: absolute;
      top: 40%;
      left: 0;
      width: 100%;
      height: 20px;
      background-color: $white;
    }
  }

  @media (max-width: 768px) {

    .container {
      padding: 20px 0;
      overflow: hidden;
      flex-direction: column;

      .step-1, .step-2, .step-3, .step-4 {
        flex-direction: column-reverse;
        margin-bottom: 50px;

        .text {
          p {
            text-align: center;
          }
        }
      }

      .divider {
        display: none;
      }
    }
  }
}
