<div class="wdc-strategy-wrapper">
  <div class="container">

    <div class="step-1">

      <div class="counter">
        <b>01</b>
        <span>Strategy</span>
      </div>

      <div class="icons">
        <img src="../../../assets/images/step1.png" alt="step">
        <span class="divider"></span>
        <img src="../../../assets/images/right_arrow.png" class="arrow" alt="step">
      </div>

      <div class="text">
        <p>
          Pellentesque at varius purus. Ut ex turpis, fermentum eget purus eget, suscipit dictum lorem. Sed iaculis
          dapibus metus ac cursus. Praesent et tincidunt dolor. Sed pretium nibh a erat scelerisque, ut vestibulum
          est tincidunt. Mauris suscipit lacus lectus.
        </p>
      </div>
    </div>

    <div class="step-2">

      <div class="text">
        <p>
          Pellentesque ligula quam, finibus eu urna eget, molestie bibendum nulla. Duis accumsan aliquam ipsum quis
          gravida. Nullam accumsan condimentum quam, in finibus quam aliquam vitae.
        </p>
      </div>

      <div class="icons">
        <img src="../../../assets/images/step2.png" alt="step">
        <span class="divider"></span>
        <img src="../../../assets/images/left-arrow.png" class="arrow" alt="step">
      </div>

      <div class="counter">
        <b>02</b>
        <span>Design</span>
      </div>

    </div>

    <div class="step-3">

      <div class="counter">
        <b>03</b>
        <span>Develope</span>
      </div>

      <div class="icons">
        <img src="../../../assets/images/step3.png" alt="step">
        <span class="divider"></span>
        <img src="../../../assets/images/right_arrow.png" class="arrow" alt="step">
      </div>

      <div class="text">
        <p>
          Donec semper commodo leo, ut eleifend odio aliquet eget. Nullam euismod turpis ultrices,
          finibus enim non, luctus massa.
        </p>
      </div>
    </div>

    <div class="step-4">

      <div class="text">
        <p>
          We define your competition and target audience. Discover what is working in your online industry,
          then design your website accordingly.
        </p>
      </div>

      <div class="icons">
        <img src="../../../assets/images/step4.png" alt="step">
        <img src="../../../assets/images/left-arrow.png" class="arrow" alt="step">
      </div>

      <div class="counter">
        <b>04</b>
        <span>Support</span>
      </div>

    </div>

  </div>
</div>
