<div class="itp-slider-wrapper">

  <div class="carousel-container">
    <itp-carousel [slides]="slides"></itp-carousel>
  </div>

  <div class="itp-slider-main">
    <span>Welcome to</span>
    <div class="typewriter">
      <h1>ITPossible web studio</h1>
    </div>
    <h2>Web Development, Angular Team </h2>
    <button class="btn" (click)="scrollToElement('touch')">Get Started</button>
  </div>

  <a class="itp-mouse" (click)="scrollToElement('about')">
    <img src="./../../../assets/images/mouse.png" alt="mouse">
  </a>

</div>
