@import './../../../assets/styles/variables';

.itp-slider-wrapper {
  position: relative;
  background-color: $light-background;
  color: $white;
  width: 100%;
  height: 500px;

  .carousel-container {
    display: block;
    width: 100%;
    height: 500px;
  }

  .itp-slider-main {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    span {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .typewriter {

      h1 {
        color: $red;
        font-size: 36px;
        overflow: hidden;
        border-right: .15em solid $red;
        white-space: nowrap;
        margin: 0 auto 20px;
        letter-spacing: .15em;
        animation:
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
      }
    }

    h2 {
      margin-bottom: 20px;
    }
  }

  .itp-mouse {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    animation: MoveUpDown 1.3s infinite;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 23px;
    }
  }
}


@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $red }
}

@media (max-width: 1024px) {
  .itp-slider-wrapper {
    .itp-slider-main {
      .typewriter {
        h1 {
          font-size: 24px;
        }
      }

      h2 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .itp-slider-wrapper {
    .itp-slider-main {
      .typewriter {
        h1 {
          font-size: 20px;
        }
      }

      h2 {
        font-size: 16px;
      }
    }
  }
}
